.brand-text {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.logo {
  display: block;
  margin: auto;
  width: 200px;
  height: 100px;
}

.product-grid {
   width: 100%;
   max-width: 1200px;
   margin: auto;
}

.flower-item {
   display: inline-block;
   text-align: center;
   margin: 20px;
}

.flower-image {
   max-width: 200px;
   height: 70%;
   display: block;
   margin: 0 auto;
}

.checkout-link {
    margin-left: -100px;
    margin-right: 20px;

}

.custom-navbar-bg {
    background-color: lavenderblush;
}
